.navigate__block{
    width: 124px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.white{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: white;
}
.silver{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: silver;
}