.ritmStyle__block {
    width: 1076px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 84px;
    font-family: 'El Messiri', sans-serif;
}

.ritmStyle__content {
    width: 526px;
    height: 365px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.ritmStyle__img {
    width: 526px;
    height: 365px;
    border-radius: 10px;
    background-image: url(/public/img/6.png);
}

.ritmStyle__content h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}