header {
    width: 1298px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #162831;
    font-family: 'El Messiri', sans-serif;
}

ul {
    width: 655px;
    display: flex;
    gap: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    width: 155px;
    height: 36px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    line-height: 140%;
    border-radius: 3px;
    background: var(--accent, #018ABE);
    border: none;
}