.big__slider {
    padding: 50px 60px;
    margin-left: 5px;
    width: 636px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--accent, #018ABE);
    color: var(--white, #FFF);
    font-family: 'El Messiri', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

}

h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.slider__content {
    margin-top: 20px;
}

.slider__pro {
    width: 675px;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 10px;
}

.slick-prev {
    margin-left: -20px;
}

.slick-next {
    margin-right: -20px;
}